@import './variables';

* {
  font-family: 'Raleway', sans-serif;
}
html {
  margin: 0;
  padding: 0;
}
.dark-mode {
  background: rgba(0, 0, 0, 0.95);
  color: var(--bs-white);

  .badge.bg-primary {
    background-color: $color-black;
    border-color: $color-primary-dark;
    color: $color-white;
  }
}
.light-mode {
  background: var(--light);

  .badge.bg-primary {
    background-color: $color-white;
    border-color: $color-primary;
    color: $color-black;
  }
}
.badge {
  cursor: default;
}
.badge.bg-primary {
  border: 1px solid;
  font-size: 0.75rem;
  letter-spacing: 0.05rem;
}

:root {
  --dark: $color-black !important;
  --primary: $color-primary !important;
  --primary-dark: $color-primary-dark !important;
}
