$height: 300px;
.header {
  background: rebeccapurple;
  transition: padding-bottom ease-in-out 400ms;
}
.landscape {
  &:after {
    background-color: rgba(0, 0, 0, 0.1);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  &,
  & > div {
    height: $height;
  }
}
@media (max-width: 900px) {
  .header {
    padding-bottom: 5rem;
  }
}
@media (max-width: 700px) {
  .header {
    padding-bottom: 3rem;
  }
}
@media (max-width: 500px) {
  .header {
    padding-bottom: 1rem;
  }
}
