$height: 300px;
.header {
  background: rebeccapurple;
  padding-bottom: 40%;
  transition: padding-bottom ease-in-out 400ms;
}
.landscape {
  &:after {
    background-color: rgba(0, 0, 0, 0.1);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  &,
  & > div {
    height: $height;
  }
}
