$card-width: 400px;
$profile-image-size: 200px;
.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px #663399;
  margin-top: -25%;
  max-width: 100%;
  overflow: hidden;
  top: 50%;
  width: $card-width;
}
.profile-photo {
  margin-top: $profile-image-size / 2 * -1;
  & > div {
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    max-height: $profile-image-size;
    max-width: $profile-image-size;
  }
}
@media (max-width: 500px) {
  .card {
    background-color: #663399;
    border-radius: 0;
    color: #fff;
    height: 100vh;
    justify-content: flex-start;
    margin-top: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .profile-photo {
    margin-bottom: 2rem;
  }
  .info {
    h1 {
      margin-bottom: 2rem;
    }
    span {
      margin-bottom: 0.5rem;
    }
  }
  .icons {
    bottom: 0;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;

    a {
      background: #fff;
      box-sizing: content-box;
      margin: 0;
      padding: 0.5rem 0;
      height: 40px;

      &:nth-child(2) {
        margin: 0 2px;
      }
    }
    svg {
      width: 100%;
      height: 100%;
    }
  }
}
