/*
  Property: align-items
  Prefix: alit
  Values: (s|c|sb|sa)
  Media Query: true
  For instance:
    .alit-{s|c|fe|sb|sa|se}-{s|m|l|xl}
*/
@each $key in map-keys($alignment-items-map){
    $selector: alit-#{$key};
    .#{$selector}{ align-items: map-get($alignment-items-map, $key); }
  
    @include media_query_iterator($prefix: $selector){
      align-items: map-get($alignment-items-map, $key);
    };
  }
  