/*
  Property: display
  Prefix: di
  Values: (b|i|f|n)
  Media Query: true
  For instance:
    .di-{b|i|f|if|n}-{s|m|l|xl}
*/
@each $key in map-keys($display-map) {
  $selector: di-#{$key};
  .#{$selector} {
    display: map-get($display-map, $key);
  }
  @include media_query_iterator($prefix: $selector) {
    display: map-get($display-map, $key);
  }
}
