/*
  Property: justify-content
  Prefix: juco
  Values: (c, e, s, l, r, sa, sb, se, st)
  Media Query: true
  For instance:
    .juco-{c|e|s|l|r|sa|sb|se|st}-{s|m|l|xl}
*/
@each $key in map-keys($justify-content-map) {
  $selector: juco-#{$key};
  .#{$selector} {
    justify-content: map-get($justify-content-map, $key);
  }

  @include media_query_iterator($prefix: $selector) {
    justify-content: map-get($justify-content-map, $key);
  }
}
