/*
  Property: margin
  Prefix: ma
  Values: (1...4)
  Media Query: false
  For instance:
    .ma-{1|2|3|4}
    .mal-{1|2|3|4} // Margin Left
    .mar-{1|2|3|4} // Margin Right
    .mat-{1|2|3|4} // Margin Top
    .mab-{1|2|3|4} // Margin Bottom
    .max-{1|2|3|4} // Margin Horizontal
    .may-{1|2|3|4} // Margin Vertical
*/
@include cardinal_iterator(
  $namespace: ma,
  $property: margin,
  $base-amount: $base-amount,
  $iterations-count: 4
);

// Margin Auto
.max-a {
  margin-left: auto;
  margin-right: auto;
}
.mx-a,
.ml-a {
  margin-left: auto;
}
.mx-a,
.mr-a {
  margin-right: auto;
}
