/*
  Property: position
  Prefix: po
  Values: (a|r|f|static|sticky)
  Media Query: true
  For instance:
    .po-{a|r|f|static|sticky}-{s|m|l|xl}
*/
@each $key in map-keys($position-map) {
  $selector: po-#{$key};
  .#{$selector} {
    position: map-get($position-map, $key);
  }

  @include media_query_iterator($prefix: $selector) {
    position: map-get($position-map, $key);
  }
}
