@mixin nav-item-active-border {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
.light-nav {
  .brand {
    color: $color-primary !important;
    font-size: 1.875rem;
  }
  a:not(.nav-item-active):not(.brand) {
    color: rgba(0, 0, 0, 0.7) !important;
  }
  .nav-item-active {
    color: #000000 !important;
    border-color: rgba(0, 0, 0, 0.86);
    @include nav-item-active-border;
  }
}
.dark-nav {
  background-color: #000;
  .brand {
    color: $color-primary-dark !important;
  }
  a:not(.nav-item-active):not(.brand) {
    color: rgba(255, 255, 255, 0.7) !important;
  }
  .nav-item-active {
    color: #ffffff !important;
    border-color: $color-white;
    @include nav-item-active-border;
  }
}
