.gallery,
.overlay {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.gallery {
  z-index: 0;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 1;
}
@media (max-width: 900px) {
  .gallery img {
    display: none;
  }
  .overlay {
    background-color: white;
  }
}
